<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='nectar.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Nectar</title>
    
</head>
<body>
    {% include 'components/navbar.html' %}
    
    <h1>buying</h1>
    
    <form>
        <input type="text" id="user-buy" name="user_buy" placeholder="buying AS A LINK!" required>
        <button id="buying-input" type="button">buy button</button>
    </form> 

    <div id="result2"></div>

    {% include 'components/footer.html' %}
</body>
</html>