<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='nectar.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind.css') }}">
    <title>Nectar</title>
    
</head>
<body>
    {% include 'components/navbar.html' %}
    
    <div class="container mx-auto p-8">
        <h1 class="text-2xl font-semibold text-yellow-400 mb-4">Contact Us! 🐝</h1>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div class="bg-yellow-200 p-10 hover:shadow-md hover:scale-105 transition-transform rounded-lg">
                <img src="{{ url_for('static', filename='imgs/andre.png') }}" alt="Andre" class="mb-2 rounded-full mx-auto w-40 h-40">
                
                <h2 class="text-lg font-semibold mb-2">Andre</h2>
                
                <p class="text-gray-700 mb-2">Placeholder description for Andre.</p>
                <p class="text-gray-700">Placeholder social media links for Andre.</p>
                <br>
                <p class="text-gray-700">Role: Fullstack Developer</p>
            </div>
            
            <div class="bg-yellow-200 p-10 hover:shadow-md hover:scale-105 transition-transform rounded-lg">
                <img src="{{ url_for('static', filename='imgs/nectar.png') }}" alt="Sean" class="mb-2 rounded-full mx-auto w-40 h-40">
                
                <h2 class="text-lg font-semibold mb-2">Sean</h2>
                
                <p class="text-gray-700 mb-2">Placeholder description for Sean.</p>
                <p class="text-gray-700">Placeholder social media links for Sean.</p>
                <br>
                <p class="text-gray-700">Role: Backend Developer</p>
            </div>
            
            <div class="bg-yellow-200 p-10 hover:shadow-md hover:scale-105 transition-transform rounded-lg">
                <img src="{{ url_for('static', filename='imgs/nectar.png') }}" alt="Tristan" class="mb-2 rounded-full mx-auto w-40 h-40">
                
                <h2 class="text-lg font-semibold mb-2">Tristan</h2>
                
                <p class="text-gray-700 mb-2">Placeholder description for Tristan.</p>
                <p class="text-gray-700">Placeholder social media links for Tristan.</p>
                <br>
                <p class="text-gray-700">Role: Frontend Developer</p>
            </div>
            
            <div class="bg-yellow-200 p-10 hover:shadow-md hover:scale-105 transition-transform rounded-lg">
                <img src="{{ url_for('static', filename='imgs/nectar.png') }}" alt="Dominic" class="mb-2 rounded-full mx-auto w-40 h-40">
                
                <h2 class="text-lg font-semibold mb-2">Dominic</h2>
                
                <p class="text-gray-700 mb-2">Placeholder description for Dominic.</p>
                <p class="text-gray-700">Placeholder social media links for Dominic.</p>
                <br>
                <p class="text-gray-700">Role: UI/UX Designer</p>
            </div>
        </div>
    </div>

    {% include 'components/footer.html' %}
</body>
</html>