<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/nectar.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='functionality.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Nectar</title>
    
</head>
<body>
    {% include 'components/navbar.html' %}
    
    <div class="flex flex-col items-center justify-center m-44">
        <h1 class="text-5xl max-w-screen-lg text-gray-800 font-bold text-center">A versatile solution for comparing</h1>
        <h1 class="text-5xl max-w-screen-lg text-gray-800 font-bold text-center">product prices, conducting pricing</h1>
        <h1 class="text-5xl max-w-screen-lg text-gray-800 font-bold text-center">research, and identifying similarities</h1>
        <h1 class="text-5xl max-w-screen-lg text-gray-800 font-bold text-center">to enhance the shopping experience</h1>
        <div class="flex space-x-4">
            <button id="work" class="bg-yellow-200 hover:bg-yellow-500 text-gray-700 font-bold py-4 px-6 rounded mt-10 mr-8 transition duration-300 ease-in-out transition-delay-100" href="#">
                How Does It Work?
            </button>
            
            <button id="started" class="bg-yellow-500 hover:bg-yellow-700 text-gray-700 font-bold py-4 px-6 rounded mt-10 ml-8 transition duration-300 ease-in-out transition-delay-100" href="#">
                Get Started
            </button>
        </div>
    </div>

    {% include 'components/carousel.html' %}

    {% include 'components/footer.html' %}
</body>
</html>