:root {
    --color-primary: #18181c;
    --color-secondary: #9a77c7;
}
  
.light-mode {
    --color-primary: #FFFF;
    --color-secondary: #626597;
}

body{
    background-color: var(--color-primary);
    margin: 0;
}

#logo{
    height: 60px;
    width: auto;
}

.navbar{
    background-image: linear-gradient(180deg, black, black, black, rgb(0, 0, 0),rgb(18, 18, 18),rgb(50, 50, 50));
    width: 100vw;
    height: 80px;
    position: sticky;
    top: 0;
    padding: 0 20vw;
}