<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>selling</h1>
    
    <form>
        <input type="text" id="user-sell" name="user_sell" placeholder="selling" required>
        <button id="selling-input" type="button">sell button</button>
    </form>

    <div id="result1"></div>

    <h1>buying</h1>
    
    <form>
        <input type="text" id="user-buy" name="user_buy" placeholder="buying AS A LINK!" required>
        <button id="buying-input" type="button">buy button</button>
    </form> 

    <div id="result2"></div>
</body>
</html>
