<div class="pictures">
    <div class="pictures-slide flex whitespace-nowrap"> 
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <!-- imgs below is repeat of imgs above-->
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
        <img src="../../static/imgs/nectar.png"/>
    </div>
</div>